.lang-btn {
  height: 1.75rem;
  width: fit-content;
  background-color: transparent;
  color: #00249c;
  font-size: 25px;
  line-height: 24px;
  font-family: "Noto Sans KR", sans-serif;
  margin: 23px 0 0 50px;
}

.lang-btn label {
  cursor: pointer;
  font-weight: 300;
}
.lang-btn strong {
  text-decoration-line: underline;
}

.lang-btn.mobile {
  position: absolute;
  top: 1.3rem;
  left: 1.3rem;
  font-size: 1.25rem;
  margin: 0;
  animation: fade-in ease-in 1s;
}

.horizontal-flex {
  display: flex;
  min-width: 156px;
  flex-direction: row;
  margin: 15px 30px 0 0;
  align-items: flex-end;
  justify-content: space-around;
}

.home-auth-btn {
  font-weight: normal;
  /* width: 66px; */
  font-weight: 300;
  line-height: 25px;
  font-size: 15px;
  background-color: transparent;
  color: #00249c;
  font-family: "Noto Sans KR", sans-serif;
}

.tab.last {
  animation: fade-in ease 1s;
  font-weight: 700 !important;
  color: #00249c;
  font-size: 25px !important;
}

.tab.mobile {
  font-size: 1.5rem;
  margin: 1.25rem 0 0 0;
  font-size: 20px;
  animation: fade-in ease-in 1s;
}

.tab-box {
  margin-top: 1.5rem;
}

.tab-box .tab {
  font-weight: 900;
  font-size: 25px;
  margin-top: 1.4rem;
  animation: fade-in ease-in 1s;
}

.logo.mobile {
  height: 2rem;
  margin-top: 1rem;
  animation: fade-in-alt ease-in 1.15s;
}

.home-auth-btn.mobile {
  width: fit-content;
  border: #00249c solid 1px;
  border-radius: 1rem;
  padding: 0 0.5rem;
  animation: fade-in-alt ease-in 1.15s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-alt {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
