.lang-btn {
  height: 26px;
  width: fit-content;
  background-color: transparent;
  color: #00249c;
  font-size: 24px;
  margin: 23px 0 0 50px;
}

.home-auth-btn {
  height: 28px;
  width: 66px;
  line-height: 28px;
  font-size: 15px;
  background-color: transparent;
  color: #00249c;
  margin-top: 1px;
}

.tab.last {
  font-weight: 700 !important;
  color: #00249c;
  font-size: 25px !important;
}
