.image {
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
}

.linked {
  cursor: pointer;
}

.image.round {
  border-radius: 50%;
}

.image.xxlarge {
  height: 550px;
  width: 550px;
}

.image.xxlargeW {
  width: 550px;
}

.image.xxlargeH {
  height: 550px;
}

.image.xlarge {
  height: 425px;
  width: 425px;
}

.image.xlargeW {
  width: 425px;
}

.image.xlargeH {
  height: 425px;
}

.image.large {
  height: 300px;
  width: 300px;
}

.image.largeW {
  width: 300px;
}

.image.largeH {
  height: 300px;
}

.image.medium {
  height: 175px;
  width: 175px;
}

.image.mediumW {
  width: 175px;
}

.image.mediumH {
  height: 175px;
}

.image.small {
  height: 50px;
  width: 50px;
}

.image.smallW {
  width: 50px;
}

.image.smallH {
  height: 50px;
}

.logo {
  height: 34px;
}

.content-image {
  height: 100%;
  width: 100%;
}

.footer-image {
  height: 26px;
}

.image.person-image {
  filter: grayscale(100%);
}

.image.person-image:hover {
  filter: none;
}
