.text {
  line-height: 20px;
}

.text.centered {
  text-align: center;
}

.heading {
  font-size: 50px;
  line-height: 50px !important;
}

.sub-heading {
  font-size: 30px;
  line-height: 30px !important;
}

.body {
  font-size: 15px;
}

.sub-body {
  font-size: 12.5px;
}

.bold {
  font-weight: 600;
}
