@font-face {
  font-family: "HeirofLightBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/HeirofLightBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.text {
  line-height: 20px;
}

.text.centered {
  text-align: center;
}

.heading {
  font-size: 60px;
  line-height: 60px !important;
}

.sub-heading {
  font-size: 35px;
  line-height: 30px !important;
}

.body {
  font-size: 15px;
}

.sub-body {
  font-size: 12.5px;
}

.bold {
  font-weight: 600;
}

.story {
  font-family: "HeirofLightBold";
}
