.flair {
  width: 3rem;
  height: 1.25rem;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.card .flair {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
}

.list-item .flair {
  margin-right: 10px;
}

.flair.palace {
  background-color: #f8c136;
}

.flair.game {
  background-color: #fe5757;
}

.flair-text {
  font-size: 10px;
  color: #ffffff;
}
