@import "./reset.css";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  font-family: "Noto Sans KR", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  white-space: pre-wrap;
  word-break: keep-all;
}

#root {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: #2f2f2f;
}
