.person-exp {
  font-size: 18px;
  line-height: 30px;
  margin-top: 10px;
}

.person-exp.title {
  font-size: 20px;
  color: #f9423a;
  font-weight: 700;
}

.exp-container {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.exp-container:first-child {
  margin: 0;
}
