.palace-timeline {
  margin-top: 80px;
}

.palace-timeline:first-child {
  margin: 0;
}

.timeline-img {
  width: 160px;
}

.palace-text {
  color: #fff000;
  text-shadow: -1px -1px 0 #00249c, 1px -1px 0 #00249c, -1px 1px 0 #00249c,
    1px 1px 0 #00249c;
}

.palace-label {
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  font-weight: 700;
  font-size: 20px;
}
