.community-display {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  width: 88%;
  margin: 11rem 0 4rem 12%;
}

.community-display.mobile {
  display: flex;
  margin-top: 6.5rem;
  align-items: center;
  justify-content: center;
  height: fit-content !important;
}

.community-display.centered {
  text-align: center;
}
