.collection-container {
  position: relative;
}

.collection-container.mobile {
  position: static;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collection-container:not(:first-child) {
  margin-top: 150px;
}

.collection-container:last-child {
  margin-bottom: 100px;
}

.container-label {
  position: absolute;
  left: -30px;
  top: -80px;
  width: 200px;
  height: 65px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transform: rotate(-5.45deg);
  line-height: 24px;
}

.container-label.mobile {
  position: static;
  width: 80%;
  height: 5rem;
  font-size: 25px;
  line-height: 30px;
  transform: none;
}

.collection-container:first-child .container-label {
  color: #ffffff;
  text-shadow: -1px -1px 0 #00249c, 1px -1px 0 #00249c, -1px 1px 0 #00249c,
    1px 1px 0 #00249c;
}

.collection-container:last-child .container-label {
  color: #00249c;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}
