/* 카드 형 */

.card {
  flex-direction: column;
  position: relative;
  width: 20rem;
  height: 14rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 25px 2.5vw;
  background-color: #ffffff;
}

.card .bottom-container {
  position: absolute;
  display: flex;
  bottom: 0.7rem;
  left: 1.25rem;
  width: 17.5rem;
  justify-content: space-between;
}

.card .content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  width: 17.5rem;
  height: 10.5rem;
  border: none;
  background-color: transparent;
}

.card .item-title {
  font-size: 17px;
  font-weight: 500;
  width: 13rem;
}

.card .content-preview {
  display: block;
  width: 17.5rem;
  margin-top: 0.75rem;
}

.card .content-preview * {
  display: block;
}

/* 320 이하 */
@media screen and (max-width: 320px) {
  .community-display.mobile .card {
    width: 15rem;
    height: 10.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .mobile .box .card .content-container {
    width: 12.5rem;
  }

  .mobile .box .card .content-container .content-preview {
    width: inherit;
  }

  .mobile .box .card .bottom-container {
    width: 12.5rem;
  }

  .mobile .box .card .content-container .item-title {
    width: 9.5rem;
  }
}

.card .preview-text {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #808080;
}

.card .item-uploader {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 5px;
}

.card .upload-date {
  font-size: 12px;
  color: #808080;
}

/* 리스트 형 */

.list-item {
  justify-content: space-between;
  align-items: center;
  width: 92.5%;
  min-height: 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 1rem 0 1rem 0;
  background-color: #ffffff;
}

.community-display.mobile .list-item:first-child {
  margin-top: 2.5rem;
}

.community-display.mobile .list-item {
  justify-content: initial;
  align-items: initial;
  height: fit-content;
}

.list-item:last-child {
  margin-bottom: 0;
}

.list-item .column:first-child {
  margin: 0 0 0 15px;
  align-items: center;
  padding: 20.5px 0;
}

.list-item .column:last-child {
  margin: 0 15px 0 0;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.community-display.mobile .list-item .column:first-child {
  margin-left: 0.55rem;
  margin-top: 0.55rem;
}

.community-display.mobile .list-item .column:last-child {
  margin: 0.4rem 0 0.6rem 0.55rem;
}

.community-display.mobile .list-item .column:last-child span {
  font-size: 10px;
}

.list-item .item-title {
  text-align: start;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}

.list-item .item-title,
.list-item .item-uploader,
.list-item .divider,
.list-item .upload-date {
  line-height: 100%;
  user-select: none;
}

.list-item .item-uploader,
.list-item .upload-date {
  /* font-size: 12px; */
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
}

.list-item .item-title:hover {
  text-underline-offset: 2.5px;
  text-decoration: underline;
  cursor: pointer;
}

.divider {
  height: 1px;
  width: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}
