.auth-form {
  height: 228px;
  padding: 2rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #fff;
  margin-top: 50px;
  animation: appear 1s;
}

.auth-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: fade-in 1.25s;
}

@keyframes appear {
  0% {
    height: 0px;
  }

  100% {
    height: 228px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
