.layout-cntrl {
  position: absolute;
  top: 7rem;
  right: 3.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.layout-cntrl.mobile {
  top: 2.75rem;
  right: 1.75rem;
  flex-direction: column;
  align-items: flex-end;
}

.layout-cntrl.mobile .tag-selecter {
  margin: 0;
}

.card-display-btn {
  width: fit-content;
  height: fit-content;
  margin-left: 0.75rem;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.list-display-btn {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

path {
  pointer-events: none;
}

.tag-selecter {
  border-radius: 0.5rem;
  width: min-content;
  margin-right: 0.75rem;
  padding: 5px 0 5px 0.25rem;
}
