.layout-cntrl {
  position: absolute;
  top: 120px;
  right: 70px;
  display: flex;
  align-items: center;
}

.card-display-btn {
  width: fit-content;
  height: fit-content;
  margin-left: 15px;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.list-display-btn {
  width: fit-content;
  height: fit-content;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

path {
  pointer-events: none;
}

.tag-selecter {
  border-radius: 0.5rem;
  width: min-content;
  margin-right: 10px;
  padding: 5px 0 5px 0.25rem;
}
