.btn {
  border: none;
  background-color: #c4c4c4;
  color: #2f2f2f;
}

.btn:focus {
  outline: none !important;
}

.btn.big {
  height: 70px;
  width: 280px;
  border-radius: 20px;
  font-size: 17.5px;
  line-height: 65px;
}

.btn.medium {
  height: 45px;
  width: 200px;
  border-radius: 10px;
  font-size: 17.5px;
  line-height: 45px;
}

.lang-btn {
  height: 26px;
  width: 56px;
  border-radius: 10px;
  line-height: 26px;
}

.link-btn {
  display: inline-block;
  height: 26px;
  text-decoration: none;
  text-align: center;
  line-height: 26px;
}

.link-btn.tab {
  margin-right: 30px;
  width: 61px;
}
