.btn {
  border: none;
  cursor: pointer;
}

.btn:focus {
  outline: none !important;
}

.btn.big {
  height: 70px;
  width: 280px;
  border-radius: 20px;
  font-size: 17.5px;
  line-height: 65px;
}

.btn.medium {
  height: 45px;
  width: 200px;
  border-radius: 10px;
  font-size: 17.5px;
  line-height: 45px;
}

.lang-btn {
  height: 26px;
  width: 85px;
  border: 1px solid #00249c;
  border-radius: 10px;
  background-color: transparent;
  color: #00249c;
  font-size: 12px;
}

.link-btn {
  display: inline-block;
  height: 26px;
  text-decoration: none;
  text-align: center;
  line-height: 26px;
}

.link-btn.tab {
  margin-right: 30px;
  width: 61px;
  background-color: transparent;
  color: #00249c;
}

.link-btn.return-to-persons {
  width: 170px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #00249c;
  color: #00249c;
  margin-bottom: 75px;
}
