.total-progress {
  position: absolute;
  background-color: #c4c4c4;
  height: 2px;
  width: 100%;
  left: 0;
  z-index: 10;
}

.current-progress {
  position: absolute;
  background-color: #2f2f2f;
  height: 2px;
  left: 0;
  z-index: 50;
}
