.chapter {
  width: 200px;
  height: 261px;
  margin-left: 50px;
  margin-bottom: 100px;
  filter: grayscale(100%);
  object-fit: cover;
}

.chapter:hover {
  filter: none;
}

.chapter:first-child {
  margin-left: 0;
}

.chapter:nth-child(4n) {
  margin-left: 0;
}

.chapter-container {
  justify-content: center;
  width: 800px;
  margin-top: 50px;
  flex-wrap: wrap;
}
