.box {
  display: flex;
}

.box.align-start {
  align-items: flex-start;
}

.box.align-center {
  align-items: center;
}

.box.justify-center {
  justify-content: center;
}

.centered {
  justify-content: center;
  align-items: center;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.horizontal-flex {
  flex-direction: row;
}

.full {
  height: 100%;
  width: 100%;
}

.fullW {
  width: 100%;
}

.fullH {
  height: 100%;
}

.box.circle {
  border-radius: 50%;
}

.box.relative {
  position: relative;
}

.box li {
  display: inline-flex !important;
}

.box.gray {
  background-color: #f9f9f9;
}

.fit-contentH {
  height: fit-content;
}
