.box {
  display: flex;
}

.box.align-start {
  align-items: flex-start;
}

.box.align-center {
  align-items: center;
}

.centered {
  justify-content: center;
  align-items: center;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.horizontal-flex {
  flex-direction: row;
}

.full {
  height: 100%;
  width: 100%;
}
