.main-illust {
  width: 100%;
  margin-top: -80px;
}

.main-test-logo {
  position: absolute;
  top: 240px;
  color: #fff000;
  -webkit-text-stroke: 2px #00249c;
  font-style: normal;
  font-weight: 500;
  font-size: 90px;
  line-height: 98px;
}

.start-button {
  position: absolute;
  top: 460px;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  width: 11.5rem;
  height: 3.15rem;
  background: #fff000;
  border: 2.5px solid #00249c;
  border-radius: 5rem;
  cursor: pointer;
}

.share-btn {
  position: absolute;
  top: 15rem;
  right: 3rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  cursor: pointer;
}

.main-subtext {
  position: absolute;
  top: 370px;
  text-align: center;
  color: #00249c;

  font-weight: 500;
  font-size: 21px;
  line-height: 30px;
}
