.main-illust {
  width: 100%;
}

.main-test-logo {
  width: 390px;
  position: absolute;
  top: 10.5rem;
}

.start-button {
  position: absolute;
  top: 22rem;
  width: 11.5rem;
  height: 3.15rem;
}

.share-btn {
  position: absolute;
  top: 15rem;
  right: 1rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  cursor: pointer;
}

.main-subtext {
  position: absolute;
  top: 18rem;
  text-align: center;
  color: #00249c;
}
